h4 {
    text-align: center;
}

label {
    font-size: 30px;
    font-weight: 600;
}

.box {
    background: #edecec;
}

i {
    font-size: 18px;
}

.pi-eye {
    color: green;
}

.pi-trash {
    color: red;
}

.pi:hover {
    color: black;
}

.red{
    color: red;
    font-size: 25px;
    font-weight: 500;
}
.green{
    color:green;
    font-size: 25px;
    font-weight: 500;
}